:root {
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--headline: "Tiempos Headline Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	--black: #000;
	--off-black: #282828;
	--gray-dark: #5b5b5b;
	--gray: #949494;
	--gray-light: #c9c9c9;
	--off-white: #f0f0f0;
	--white: #fff;
	--purple: #a239ca;
	--blue: #4717f6;
	--green: #34a29e;
	--red: #ff533d;
	--yellow: #e5e338;
	--tan: #fffaf3;
	--tan-mid: #fff5e7;
	--tan-dark: #FBE7C9;
	--path-green: #5AA471;

	--love-peach-light: #FAE8DD;

	--bg: var(--tan);
	--fg: var(--off-black);
	--default: var(--gray-light);
	--primary: var(--red);
	--secondary: var(--green);
	--accent: var(--tanDarker);

	/* water.css */

	--body-font: var(--serif);
	--background-body: var(--bg);
  --background-ui: var(--off-white);
  --background-alt: var(--off-white);
  --selection: var(--gray);
  --text-main: var(--off-black);
  --links: var(--purple);
  --focus: var(--green);
  --border: var(--gray-light);
  --animation-duration: 0.1s;
  --button-hover: var(--gray-light);
  --scrollbar-thumb: var(--gray-light);
  --scrollbar-thumb-hover: var(--gray-dark);
	--form-placeholder: var(--gray-dark);
	--form-font: var(--sans);
	--form-text: var(--gray-dark);
	--input-thumb: var(--gray-dark);
	--highlight: var(--yellow);

	--col-width: 28em;
	--wheel-width: 22em;
}

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	width: auto;
	height: auto;
	padding: 0.5em;
	z-index: 1000;
}

/* pudding */
.wordmark svg path {
	fill: currentColor;
}

main {
	overflow: hidden;
}

body {
	font-size: 18px;
}

p {
	line-height: 1.65;
	text-shadow: 1px 0 0 var(--bg), -1px 0 0 var(--bg), 0 -1px 0 var(--bg), 0 1px 0 var(--bg);
}

button, label {
	font-family: var(--sans);
	border-radius: 4px;
	line-height: 1;
	padding: 0.5em;
}

.prose span {
	background: var(--tan);
	display: none;
	border: 1px solid var(--off-black);
	box-shadow: 2px 2px 10px rgba(40, 40, 40, 0.1);
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
	font-family: var(--mono);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.prose span.active {
	display: inline;
}

.prose span.switch {
	display: inline;
}

.prose span.switch::before {
	content: url("../images/repeat.svg");
	width: 24px;
	height: 24px;
	display: inline-block;
	transform: scale(0.75);
	position: relative;
	top: 0.25rem;
	left: -0.25rem;
}