:root {
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--headline: "Tiempos Headline Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	--black: #000;
	--off-black: #282828;
	--gray-dark: #5b5b5b;
	--gray: #949494;
	--gray-light: #c9c9c9;
	--off-white: #f0f0f0;
	--white: #fff;
	--purple: #a239ca;
	--blue: #4717f6;
	--green: #34a29e;
	--red: #ff533d;
	--yellow: #e5e338;
	--tan: #fffaf3;
	--tan-mid: #fff5e7;
	--tan-dark: #FBE7C9;
	--tan-black: #7A4700;
	--path-green: #5AA471;
	--path-orange: #e76e1f;
	--light-blue: #DBE5E3;

	--love-peach-light: #FAE8DD;

	--bg: var(--tan);
	--fg: var(--off-black);
	--default: var(--gray-light);
	--primary: var(--red);
	--secondary: var(--green);
	--accent: var(--tanDarker);

	/* water.css */

	--body-font: var(--serif);
	--background-body: var(--bg);
  --background-ui: var(--off-white);
  --background-alt: var(--off-white);
  --selection: var(--gray);
  --text-main: var(--off-black);
  --links: var(--off-black);
  --focus: var(--green);
  --border: var(--gray-light);
  --animation-duration: 0.1s;
  --button-hover: var(--gray-light);
  --scrollbar-thumb: var(--gray-light);
  --scrollbar-thumb-hover: var(--gray-dark);
	--form-placeholder: var(--gray-dark);
	--form-font: var(--sans);
	--form-text: var(--gray-dark);
	--input-thumb: var(--gray-dark);
	--highlight: var(--yellow);

	--col-width: 28em;
	--wheel-width: 24em;
}

body {
	overflow-x: hidden;
}

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	width: auto;
	height: auto;
	padding: 0.5em;
	z-index: 1000;
}

/* pudding */
.wordmark svg path {
	fill: currentColor;
}

main {
	overflow: hidden;
}

body {
	font-size: 18px;
}

p {
	line-height: 1.65;
	text-shadow: 1px 0 0 var(--bg), -1px 0 0 var(--bg), 0 -1px 0 var(--bg), 0 1px 0 var(--bg);
}

button, label {
	font-family: var(--sans);
	border-radius: 4px;
	line-height: 1;
	padding: 0.5em;
}

hr {
	border: none;
	border-bottom: 1px solid var(--off-black);
	max-width: 10rem;
	margin: 4em auto;
}

.prose span, .outcome.reality span span {
	background: var(--tan);
	display: none;
	border: 1px solid var(--off-black);
	box-shadow: 2px 2px 10px rgba(40, 40, 40, 0.1);
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
	font-family: var(--mono);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.outcome.generation span.generation.flip {
	border: none;
	box-shadow: none;
	font-family: var(--serif);
	background: none;
	border-radius: 0;
}



#note span {
	background: var(--tan);
	border: 1px solid var(--off-black);
	box-shadow: 2px 2px 10px rgba(40, 40, 40, 0.1);
	border-radius: 5px;
	padding: 0.125rem 0.25rem;
	font-family: var(--mono);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

#note span {
	font-size: 0.9em;
}

.prose span.active {
	display: inline;
}

.prose a:hover, .outcome a:hover {
	color: var(--path-orange);
}

span.directions {
	font-family: var(--sans);
	font-size: 0.9em;
	padding: 0;
	background: none;
	border: none;
	box-shadow: none;
	display: inline-block;
	color: var(--gray-dark);
	line-height: 1.5;
}

.prose span.directions span.active, .prose span.directions span.switch, .prose span.directions span.option {
	font-size: 0.9rem;
	color: var(--off-black);
	padding: 0.125rem 0.35rem;
}

.prose span.directions span.option {
	display: inline;
	color: var(--white);
	background: var(--off-black);
	text-shadow: none;
	font-family: var(--sans);
}

.prose span.switch  {
	display: inline;
	cursor: pointer;
}

.prose span.switch:hover {
	background: var(--tan-mid);
}

.prose span.switch::before {
	content: url("../images/repeat.svg");
	width: 24px;
	height: 24px;
	display: inline-block;
	transform: scale(0.75);
	position: relative;
	top: 0.3rem;
	left: -0.25rem;
}

.prose span.directions span.switch::before {
	transform: scale(0.5);
	width: 16px;
	height: 16px;
	top: 0.5rem;
}

h1 span.switch {
	display: inline;
}

h1 span.switch::before {
	content: url("../images/repeat-large.svg");
	width: 100px;
	height: 100px;
	display: inline-block;
	transform: scale(0.75);
	position: relative;
	top: 1.25rem;
	left: -0.5rem;
}

h1 span {
	background: var(--tan);
	display: none;
	border: 1px solid var(--off-black);
	box-shadow: 2px 2px 10px rgba(40, 40, 40, 0.1);
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
	font-family: var(--mono);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	cursor: pointer;
}

.stop svg {
	stroke: var(--tan);
	fill: var(--path-orange);
}

/* animations */
.animation {
	pointer-events: none;
}

#section-8 .animation {
	position: relative;
	height: auto;
}

.animation .left {
	width: 300px;
	height: 300px;
	position: absolute;
	bottom: 20%;
	left: 0;
	background: url("../images/210219_Talking_Man_Animation_Final.gif") 0 0;
	background-size: cover;
}

.animation .right {
	width: 300px;
	height: 300px;
	position: absolute;
	bottom: 30%;
	right: 0;
	background: url("../images/210219_Talking_Woman_Animation_Final.gif") 0 0;
	background-size: cover;
}


.animation .train {
	width: 600px;
	height: 450px;
	margin: 3rem auto;
	background: url("../images/210219_Train_Animation_Final.gif") 0 0;
	background-size: cover;
}

@media only screen and (max-width: 480px) {
	h1 span.switch::before {
		width: 75px;
		height: 75px;
		transform: scale(0.5);
		top: 2.25rem;
		left: -0.25rem;
	}

	.animation {
		position: relative;
		height: 300px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.animation .left, .animation .right {
		position: relative;
		width: 180px;
		height: 180px;
		background-size: cover;
	}

	.animation .left {
		left: 0;
		bottom: 0;
	}

	.animation .right {
		right: 0;
		bottom: 0;
	}
}